.resume {
  padding: 3vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 30px;
}

.resume hr {
  margin-top: 30px;
}

.multi-rows {
  display: flex;
  flex-direction: column;
}

.education {
  padding-top: 10px;
}

.work-ex {
  grid-column: 1/1;
  grid-row: 2/7;
}

.flex {
  display: flex;
  align-items: end;
}

.flex small {
  padding-left: 10px;
}

@media (max-width: 400px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex small {
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex small {
    padding-left: 0px;
  }
}
